html, body
{
    margin: 0;
    padding: 0;
}

.header
{
    color: black;
    text-align: center;
    content: "";
    display: table;
    clear: both;
}

#content
{
    margin: 0 auto;
    width: 50%;
}

.title
{
    font-size: 50px;
    font-weight: bold;
    margin: 10px 0;
    width: 90%;
}

.title_list
{
    font-size: 30px;
    margin: 10px 0;
    width: 50%;
}

.list
{
    float: left;
    width: 50%;
}

.button_image
{
    width: 37%;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

#id_image
{
    width: 180px;
    height: 180px;
    margin-top: 10px;
}

.image
{
    cursor: pointer;
}

.close_point
{
    width: 59px;
    cursor: pointer;
}

input
{
    padding: 11px;
    font-size: 20px;
}

.add
{
    text-align: center;
    cursor: pointer;
}

ul
{
    margin: 0;
    padding: 0;
}

ul li
{
    position: relative;
    padding: 20px 20px 20px 45px;
    font-size: 20px;
    background: #f3f3f3;
    border: 1px solid #cacaca;
    cursor: pointer;
    width: 81%;
}


li
{
    list-style: none;
}

ul li.checked
{
    text-decoration: line-through;
}

ul li.checked::before
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 2px 2px 0;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}