.header
{
    background-color: #b0e0e6;
    padding: 30px 40px;
    color: white;
    text-align: center;
    width: 25%;
}

.button
{
    margin-left: -4px;
    margin-right: -4px;
}

.button_img
{
    margin-right: -4px;
}

#image
{
    width: 180px;
    height: 180px;
    margin-top: 10px;
}
