html, body
{
    margin: 0;
    padding: 0;
}

#model
{
    display: table;
    width: 50%;
    margin: 10px;
    background-color: antiquewhite;
    position: absolute;
    height: 100%;
}

.board
{
    /*display: table;
    position: absolute;*/
    height: 100%;
}

.title
{
    font-size: 50px;
    font-weight: bold;
    width: 10%;
}

.title_list
{
    font-size: 30px;
    margin: 10px 0 0;
    width: 77.3%;
    display: block;
}

.list
{
    display: table;
    padding: 10px;
    background-color: floralwhite;
    margin: 10px;
}

#board_lists
{
    height: 100%;
    background-color: antiquewhite;
}

.close_point
{
    width: 60px;
    cursor: pointer;
}

input
{
    padding: 11px;
    font-size: 20px;
}

.add
{
    text-align: center;
    cursor: pointer;
}

li
{
    list-style: none;
}

.button_new_board
{
    position: relative;
    left: 646px;
    top: 10px;
}

/*
ul
{
    margin: 0;
    padding: 0;
}

ul li
{
    position: relative;
    padding: 20px 20px 20px 45px;
    font-size: 20px;
    background: #f3f3f3;
    border: 1px solid #cacaca;
    cursor: pointer;
    width: 81%;
}

ul li.checked
{
    text-decoration: line-through;
}

ul li.checked::before
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 2px 2px 0;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.button_image
{
    width: 37%;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

#id_image
{
    width: 180px;
    height: 180px;
    margin-top: 10px;
}

.image
{
    cursor: pointer;
}


.header
{
    color: black;
    text-align: center;
    content: "";
    display: table;
    clear: both;
}*/